<IfModule mod_expires.c>
    # Enable expirations
    ExpiresActive On 
    # Default directive
    ExpiresDefault "access plus 1 month"
    # My favicon
    ExpiresByType image/x-icon "access plus 1 month"
    # Images
    ExpiresByType image/jpg "access plus 1 hour"
    ExpiresByType image/jpeg "access plus 1 hour"
    # CSS
    ExpiresByType text/css "access plus 1 hour"
    # Javascript 
    ExpiresByType application/javascript "access plus 1 hour"
</IfModule>